- @title = t(".title")

.col.col-sm-6
  - if can? :create, List
    .pull-right
      = link_to(new_list_path, class: 'text-success') do
        %span.glyphicon.glyphicon-plus
        = t(".new_list")

  - if @lists.present?
    %h2
      = t(".headline")
    %ul
      -@lists.each do |list|
        - if @admin_lists.include?(list)
          %li
            %em= link_to list, list_subscriptions_path(list)
        -else
          %li= link_to list, list_subscriptions_path(list)

    - if @admin_lists.any?
      .text-muted
        = t(".hint")
        %em
          = t(".em")

